<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                @Html.ActionLink("برگزاری مراسم", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
=======
                @Html.ActionLink("مدیریت رویداد", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
>>>>>>> 2773124291b16f7d7069971df4bb0f0a3be50023
=======
                @Html.ActionLink("مدیریت رویداد", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
>>>>>>> 2773124291b16f7d7069971df4bb0f0a3be50023
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("خانه", "Index", "Home")</li>
<<<<<<< HEAD
<<<<<<< HEAD
                    <li>@Html.ActionLink("درباره ما", "About", "Home")</li>
=======
                    <li>@Html.ActionLink("خدمات ما", "About", "Home")</li>

>>>>>>> 2773124291b16f7d7069971df4bb0f0a3be50023
=======
                    <li>@Html.ActionLink("خدمات ما", "About", "Home")</li>

>>>>>>> 2773124291b16f7d7069971df4bb0f0a3be50023
                    <li>@Html.ActionLink("تماس با ما", "Contact", "Home")</li>
=======
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
>>>>>>> parent of 2773124... Merge pull request #1 from pfaraji/master
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content text-right">
        @RenderBody()
        <hr />
        <footer>
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
            <p>&copy; @DateTime.Now.Year - پروزه موسسه آموزشی کهکشان نور</p>
=======
            <p>&copy; @DateTime.Now.Year -مدیریت رویداد آسان </p>
>>>>>>> 2773124291b16f7d7069971df4bb0f0a3be50023
=======
            <p>&copy; @DateTime.Now.Year -مدیریت رویداد آسان </p>
>>>>>>> 2773124291b16f7d7069971df4bb0f0a3be50023
=======
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
>>>>>>> parent of 2773124... Merge pull request #1 from pfaraji/master
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
